@charset "utf-8";
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	font-family: Lato;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
#logo {
	font-size: 50px;
}
#pageNav {
	padding: 30px 0;
	background-color: white;
	width: 100%;
	font-family: Lato;
	color: #41ad55;
	position: fixed;
	margin: -120px 0;
	z-index: 1;
}
#pageNav-container {
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	width: 1200px;
}
#smallNav-container {
	float: right;
	font-size: 15px;
	font-weight: 400;
	vertical-align: middle;
	padding-top: 3px;

}
.navElement {
	position: relative;
	list-style-type: none;
	display: inline;
}
.listElement {
	padding-left: 18px;
	letter-spacing: 2px;
}
body {
	background-color: #1f1f2e;	
}
#poolList {
	margin-top: 120px;
	height: 1000px;
	color: white;
	position:relative;
}
.background.fixed {
	z-index: -1;
	position: fixed;
	top: 120;
	width: 100%;

}
.background.bottom {
	position:absolute;
	bottom: 0;
	top: auto;
	z-index: -1;
	width: 100%;

}
h1 {
	font-family: Lato;
	font-size: 40px;
	color: white;
	padding:20px;
	padding-top: 30px;
	text-align: center;
	letter-spacing: 4px;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}
p {
	font-family: Lato;
	font-size: 20px;
	color: white;
	padding:10px;
	padding-top: 30px;
	text-align: center;
	letter-spacing: 1px;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}
table {
	width: 1200px;
	margin: 0 auto;
	border-collapse: collapse;
}
th {
	font-size: 18px;
}
th, td {
	border-bottom: 1px solid white;
}
#about {
	background-color: #41ad55;
	height: 400px;
}
#contact {
	background-color: #1f1f2e;
	height: 400px;
}