@charset "utf-8";
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	font-family: Lato;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
#logo {
	font-size: 50px;
}
#pageNav {
	padding: 30px 0;
	background-color: white;
	width: 100%;
	font-family: Lato;
	color: #41ad55;
	position: fixed;
	margin: -120px 0;
	z-index: 1;
}
#pageNav-container {
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	width: 1200px;
}
#smallNav-container {
	float: right;
	font-size: 15px;
	font-weight: 400;
	vertical-align: middle;
	padding-top: 3px;

}
.navElement {
	position: relative;
	list-style-type: none;
	display: inline;
}
.listElement {
	padding-left: 18px;
	letter-spacing: 2px;
}
body {
	background-color: #1f1f2e;	
}
#poolList {
	margin-top: 120px;
	height: 1000px;
	color: white;
	position:relative;
}
.background.fixed {
	z-index: -1;
	position: fixed;
	top: 120;
	width: 100%;

}
.background.bottom {
	position:absolute;
	bottom: 0;
	top: auto;
	z-index: -1;
	width: 100%;

}
h1 {
	font-family: Lato;
	font-size: 40px;
	color: white;
	padding:20px;
	text-align: center;
	letter-spacing: 4px;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}
p {
	font-family: Lato;
	font-size: 20px;
	color: white;
	padding: 20px;
	text-align: center;
	letter-spacing: 1px;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}
table {
	width: 1200px;
	margin: 0 auto;
	border-collapse: collapse;
}
th {
	font-size: 18px;
}
th, td {
	border-bottom: 1px solid white;
}
#credit {
	position: relative;
	top: 800px;
	float: right;
	font-size: 10px;
}
a:link, a:visited {
	color: white;
	text-decoration: none;
}
#about {
	background-color: #41ad55;
	padding: 70px 0;
}
#aboutContainer {
	height: auto;
}
#contact {
	background-color: #1f1f2e;
	padding: 70px 0;
}
#contactContainer {
	height: auto;
}
input {
	width: 800px;
	padding:15px;
	font-size: 20px;
	background-color: #1f1f2e;
	margin: 30px auto;
	display: block;
	border-radius: 4px;
	border: none;
	border-bottom: 2px solid #2c2c44;
	-webkit-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
}
input[type=submit] {
	width: 400px;
	padding:15px;
	font-size: 20px;
	color: white;
	background-color: #41ad55;
	margin: 30px auto;
	display: block;
	border-radius: 4px;
	border: 2px solid #41ad55;
	-webkit-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
input[type=text]:focus {
	background-color: #2c2c44;
	outline: 0;
}
input[type=text]:hover {
	background-color: #2c2c44;
	outline: 0;
}
input[type=submit]:hover {
	background-color: #30823f;
	border-color: #30823f;
	outline: 0;
}